footer {
  display: flex;
  height: 60px;
  padding: 0 30px;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: #343434;
  font-size: .8rem;

  * {
    margin: auto 0;
    color: #fff;
  }

  ul {
    display: flex;
    flex-flow: row nowrap;

    li {
      position: relative;
      padding-left: 20px;
      margin-right: 30px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.icon {
  width: 13px;
  height: 13px;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  top: 50%;

}
