<div class="nav-outer">
  <img src="../../assets/images/logos/abTestLogo.png" alt="Website logo" id="abLogo">
  <ul class="nav-inner">
    <li><a routerLink="/abtest-calc" routerLinkActive="navActive">A/B-test calculater</a></li>
    <li><a routerLink="/bayes-calc" routerLinkActive="navActive">Bayesian calculater</a></li>
    <li><a routerLink="/temp" routerLinkActive="navActive">Size calculater</a></li>
  </ul>
  <img src="../../assets/images/logos/ODlogo.png" alt="Logo van Online Dialoge" id="odLogo">
</div>